{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
    {{ block.super }}
    {% if has_import_permission %}
    <li style="list-style: none;">
        <a href="{{ download_sample_url }}" class="btn btn-sm btn-info" style="margin-left: 5px;">
            <i class="fas fa-download"></i> Download Sample CSV
        </a>
    </li>
    <li style="list-style: none;">
        <a href="{{ import_url }}" class="btn btn-sm btn-success" style="margin-left: 5px;">
            <i class="fas fa-file-upload"></i> Import CSV
        </a>
    </li>
    {% endif %}
{% endblock %}
